## install packages

## import packages

In [1]:
library("plyr")
library("dplyr")
library("ggplot2")

Attaching package: ‘dplyr’

The following objects are masked from ‘package:plyr’:

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## set data

In [13]:
bitcoin <- read.csv("../data/bitstampUSD_1-min_data_2012-01-01_to_2018-11-11.csv",header=T)

## EDA

In [15]:
glimpse(bitcoin)

Observations: 3,603,136
Variables: 8
$ Timestamp         <int> 1325317920, 1325317980, 1325318040, 1325318100, 1...
$ Open              <dbl> 4.39, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN...
$ High              <dbl> 4.39, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN...
$ Low               <dbl> 4.39, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN...
$ Close             <dbl> 4.39, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN...
$ Volume_.BTC.      <dbl> 0.4555809, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN...
$ Volume_.Currency. <dbl> 2, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, N...
$ Weighted_Price    <dbl> 4.39, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN...

In [18]:
n_distinct(bitcoin$Open)
n_distinct(bitcoin$Close)

[1] 522844

[1] 519610

In [20]:
bitcoin %>% count(Open)

       Open     n
1      3.80      2
2      4.14      2
3      4.15      1
4      4.17      1
5      4.23      1
6      4.24      1
7      4.25      1
8      4.27      1
9      4.30      6
10     4.33      1
11     4.35      4
12     4.38      3
13     4.39      4
14     4.40      5
15     4.41      1
16     4.44      4
17     4.45     12
18     4.47      4
19     4.48      2
20     4.49      5
21     4.50      9
22     4.51      6
23     4.52      7
24     4.53      7
25     4.54     11
26     4.55      4
27     4.56      1
28     4.57      5
29     4.58      3
30     4.59     21
⋮      ⋮        ⋮
522815 19612.17       1
522816 19614.35       1
522817 19615.00       1
522818 19616.67       1
522819 19616.69       1
522820 19619.66       1
522821 19621.47       1
522822 19622.29       1
522823 19622.30       1
522824 19625.55       1
522825 19626.30       1
522826 19629.99       1
522827 19630.01       1
522828 19630.79       1
522829 19631.01       1
522830 19639.43       1
522831 19640.00       1
522832 19642.33       1
522833 19644.00       1
522834 19644.39       1
522835 19645.25       2
522836 19649.98       1
522837 19650.00       1
522838 19650.01       1
522839 19651.02       1
522840 19656.89       1
522841 19663.93       1
522842 19663.99       1
522843 19665.76       1
522844      NaN 1214307

In [14]:
sum_volume <- function(source,start,years){
    startPointer <- start
    results <- c()
    for(year in 1:years){
        end <- startPointer+31536000
        bit <- source[source$Timestamp>=startPointer & source$Timestamp<end]
        bit <- subset(bit,!is.na(Volume_.BTC.))
        results[year]<-summarise(bit,sum(Volume_.BTC.))
        startPointer <- end
    }
    print(results)
}

sum_volume(bitcoin,1325376000,6)

ERROR: Error in `[.data.frame`(source, source$Timestamp >= startPointer & source$Timestamp < : undefined columns selected

## snippets